/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {
    /*******************************/
    .head-top {
      width: 100%;
      padding: 10px 14px 10px 0px;
    }
    .head-top .navbar-brand img {
      height: 25px;
    }
    .head-sec .title h1 {
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 2px;
      color: #fff;
      padding: 20px 0px 10px;
      margin: 0px;
    }
    .head-sec .title .line {
      width: 153px;
      height: 2px;
      border: none;
      background: #15a4fa;
      text-align: center;
      position: relative;
      left: 26%;
    }
    .head-sec .title .button {
      padding: 40px 95px;
    }

    .design {
      width: 100%;
      padding: 40px 0px;
      background: #f6f9f9;
    }
    .design .head h3 {
      font-size: 25px;
      font-weight: 600;
      line-height: 35px;
      color: #2d3950;
      margin: 0px;
      padding: 0px 0px 15px;
    }
    .design .head p {
      margin: 0px;
      font-size: 13px;
      font-weight: 400;
      color: #999999;
      /* padding: 0px 0px 60px; */
    }
    .feature {
      width: 100%;
      padding: 40px 0px;
      text-align: center;
    }
    .feature .options img {
      height: 50px;
      margin: 0px;
    }
    .feature .options h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding: 10px 0px 5px;
      margin: 0px;
      color: #2d3950;
    }
    .feature .options p {
      margin: 0px;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      color: #999999;
      padding-bottom: 15px;
    }
    .show {
      width: 100%;
      padding: 40px 0px;
      background: #f6f9f9;
    }
    .show .show-top h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      color: #2d3950;
      margin: 0px;
      padding: 0px 0px 10px;
    }
    .show .first .one {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .show .first .two {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .show .first .three {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .show .second .four {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .show .second .five {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .show .second .six {
      position: relative;
      /* opacity: 0; */
      height: 150px;
      left: 21%;
    }
    .stay {
      width: 100%;
      padding: 40px 0px;
      background: url(../images/b.png) center top no-repeat;
      background-size: cover;
    }
    .stay .main-form {
    padding: 0px 30px;
}
    .stay .stay-top h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 35px;
      color: #fff;
      margin: 0px;
      padding: 0px 0px 10px;
      text-align: center;
    }
    .stay .stay-top p {
      margin: 0px;
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      padding: 0px 0px 25px;
      text-align: center;
    }
    .stay .main-form .form-group {
      margin: 0px;
      padding: 5px 0px;
      color: #999999;
    }
    .stay .main-form .form-group .form-control {
      font-weight: 400;
      background: transparent;
      padding: 0px 10px;
      font-size: 12px;
      height: 30px;
      border: 1px solid #999999;
    }
    .stay .main-form .msg .form-group .form-control {
      font-weight: 400;
      background: transparent;
      padding: 6px 10px;
      font-size: 12px;
      height: 90px;
    }
    .stay .main-form .form-group .form-check {
      padding: 5px 0px 0px 20px;
    }

    .stay .main-form .form-group .form-check-label {
      color: #f5f5f6;
      padding: 0px 5px;
      font-size: 12px;
    }
    .stay .main-form .btn-primary {
      background: transparent;
      padding: 3px 25px;
      position: relative;
      left: 73%;
      top: -30px;
      border-color: #15a4fa;
      transition: 0.7s;
      font-size: 14px;
    }
    .foot h5 {
      margin: 0px !important;
      font-size: 12px;
      font-weight: 400;
      padding: 0px;
      color: #999999;
      position: relative;
      top: 10px;
    }
    .foot .links ul {
      margin: 0px;
      padding: 0px 0px;
      position: relative;
      top: -8px;
    }
    .foot .links ul li .btn-primary {
      border-radius: 0px;
      background: #15a4fa;
      border: 1px solid #15a4fa;
      transition: 0.7s;
      padding: 0px 5px;
    }
    /******************************/
  }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px   
  */

  @media (min-width: 481px) and (max-width: 767px) {

    /**********************************/
    .head-top .navbar-brand img {
      height: 25px;
    }
    .head-sec .title h1 {
      text-align: center;
      font-size: 46px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 1px;
      color: #fff;
      padding: 40px 0px 10px;
      margin: 0px;
    }
    .head-sec .title .line {
      width: 190px;
      height: 2px;
      border: none;
      background: #15a4fa;
      text-align: center;
      position: relative;
      left: 29%;
    }
    .head-sec .title p {
      margin: 0px;
      font-size: 13px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      padding: 10px 0px;
      color: #fff;
    }
    .head-sec .title .button {
      padding: 35px 170px;
    }
    .head-sec .title .btn-primary {
      font-size: 14px;
      background: transparent;
      border: 1px solid #15a4fa;
      color: #fff;
      padding: 6px 15px;
      transition: 0.7s;
    }
    .design {
      width: 100%;
      padding: 40px 0px;
      background: #f6f9f9;
    }
    .design .head h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      color: #2d3950;
      margin: 0px;
      padding: 0px 0px 15px;
    }
    .design .head p {
      margin: 0px;
      font-size: 13px;
      font-weight: 400;
      color: #999999;
      /* padding: 0px 0px 60px; */
    }
    .feature {
      width: 100%;
      padding: 40px 0px;
      text-align: center;
    }
    .feature .options img {
      height: 60px;
      margin: 0px;
    }
    .feature .options h4 {
      font-size: 17px;
      font-weight: 400;
      line-height: 27px;
      padding: 15px 0px 5px;
      margin: 0px;
      color: #2d3950;
    }
    .feature .options p {
      margin: 0px;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      color: #999999;
      padding: 0px 0px 15px;
    }
    .show {
      width: 100%;
      padding: 40px 0px;
      background: #f6f9f9;
    }
    .show .show-top h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      color: #2d3950;
      margin: 0px;
      padding: 0px 0px 10px;
    }
    .show .show-top p {
      margin: 0px;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
      padding: 0px 0px 60px;
    }
    .show .first .one {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .show .first .two {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .show .first .three {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .show .second .four {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .show .second .five {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .show .second .six {
      position: relative;
      /* opacity: 0; */
      height: 200px;
      left: 22%;
    }
    .stay {
    width: 100%;
    padding: 40px 0px 15px;
    background: url(../images/b.png) center top no-repeat;
    background-size: cover;
}
.stay .stay-top h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    margin: 0px;
    padding: 0px 0px 10px;
    text-align: center;
}
.stay .stay-top p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    padding: 0px 0px 40px;
    text-align: center;
}
.stay .main-form .form-group .form-control {
    font-weight: 400;
    background: transparent;
    padding: 0px 10px;
    font-size: 12px;
    height: 35px;
    border: 1px solid #999999;
}
.stay .main-form .msg .form-group .form-control {
    font-weight: 400;
    background: transparent;
    padding: 6px 10px;
    font-size: 12px;
    height: 114px;
}
.stay .main-form .form-group .form-check {
    padding: 0px 0px 0px 20px;
}
.stay .main-form .btn-primary {
    background: transparent;
    padding: 6px 35px;
    position: relative;
    left: 76%;
    top: -42px;
    border-color: #15a4fa;
    transition: 0.7s;
}
.foot h5 {
    margin: 0px !important;
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    color: #999999;
    position: relative;
    top: 15px;
}
.foot .links ul {
    margin: 0px;
     padding:   0px; 
}
.foot .links ul li .btn-primary {
    border-radius: 0px;
    background: #15a4fa;
    border: 1px solid #15a4fa;
    transition: 0.7s;
    padding: 2px 5px;
    position: relative;
    top: -7px;
}
    /***********************************/

  }

  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
    /**********************************/
    .head-top .navbar-brand img {
    height: 25px;
}
.head-sec .title h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
    color: #fff;
    padding: 60px 0px 10px;
    margin: 0px;
}
.head-sec .title .line {
    width: 210px;
    height: 2px;
    border: none;
    background: #15a4fa;
    text-align: center;
    position: relative;
    left: 34%;
}
.head-sec .title p {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
}
.head-sec .title .button {
    padding: 90px 280px 30px;
}
.head-sec .title .btn-primary {
    font-size: 14px;
    background: transparent;
    border: 1px solid #15a4fa;
    color: #fff;
    padding: 8px 20px;
    transition: 0.7s;
}
.head-sec {
    width: 100%;
    padding: 50px 0px 100px;
    background: url(../images/banner.png) center top no-repeat;
    background-size: cover;
}
.design {
    width: 100%;
    padding: 65px 0px;
    background: #f6f9f9;
} 
.design .head h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #2d3950;
    margin: 0px;
    padding: 0px 0px 15px;
}
.design .head p {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    /* padding: 0px 0px 60px; */
}
.feature {
    width: 100%;
    padding: 65px 0px;
    text-align: center;
}
.feature .options img {
    height: 65px;
    margin: 0px;
}
.feature .options h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 15px 0px 5px;
    margin: 0px;
    color: #2d3950;
}
.show {
    width: 100%;
    padding: 65px 0px 0px;
    background: #f6f9f9;
}
.show .second {
    width: 690px;
    height: 350px;
}
.show .show-top h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #2d3950;
    margin: 0px;
    padding: 0px 0px 15px;
}
.show .first .one {
    position: relative;
    /* opacity: 0; */
    height: 220px;
    left: 40px;
}
.show .first .two {
    position: relative;
    height: 220px;
    left: 60px;
}
.show .first .three {
    position: relative;
    /* opacity: 0; */
    height: 220px;
    left: 40px;
    top: 20px;
}
.show .second .four {
    height: 220px;
    position: relative;
    top: -200px;
    left: 361px;
}
.show .second .five {
    height: 220px;
    position: relative;
    left: 60px;
    top: 40px;
}
.show .second .six {
    height: 220px;
    position: relative;
    top: -180px;
    left: 40px;
} 
.stay {
    width: 100%;
    padding: 40px 0px 25px;
    background: url(../images/b.png) center top no-repeat;
    background-size: cover;
}
.stay .stay-top h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    margin: 0px;
    padding: 0px 0px 10px;
    text-align: center;
}
.stay .stay-top p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    padding: 0px 0px 50px;
    text-align: center;
}
.stay .main-form {
    padding: 10px;
}
.stay .main-form .form-group .form-control {
    font-weight: 400;
    background: transparent;
    padding: 0px 10px;
    font-size: 12px;
    height: 35px;
    border: 1px solid #999999;
}
.stay .main-form .msg .form-group .form-control {
    font-weight: 400;
    background: transparent;
    padding: 8px 10px;
    font-size: 12px;
    height: 115px;
}
.stay .main-form .form-group .form-check {
     padding: 0px; 
}
.stay .main-form .form-group .form-check-label {
    color: #f5f5f6;
    padding: 0px 5px;
    font-size: 12px;
}
.stay .main-form .btn-primary {
    background: transparent;
    padding: 3px 25px;
    position: relative;
    left: 71%;
    top: -35px;
    border-color: #15a4fa;
    transition: 0.7s;
}
.foot {
    width: 100%;
    /* padding: 10px 0px; */
}
.foot h5 {
    margin: 0px !important;
    font-size: 12px;
    font-weight: 400;
    padding: 25px 0px;
    color: #999999;
}
.foot .links ul li .btn-primary {
    border-radius: 0px;
    background: #15a4fa;
    border: 1px solid #15a4fa;
    padding: 2px 5px;
    transition: 0.7s;
}
    /***********************************/
  }




